# ============================================
# 📁 GENERAL
# ============================================
node_modules/
dist/
build/
tmp/
temp/
.cache/
.eslintcache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ============================================
# 📁 VITE / REACT
# ============================================
.vite/
vite.config.timestamp-*.mjs

# Production build
dist/

# Local env files (si usas variables)
.env
.env.local
.env.*.local

# ============================================
# 📁 TYPESCRIPT
# ============================================
*.tsbuildinfo

# ============================================
# 📁 NODE / EXPRESS
# ============================================
# Output
*.pid
.pnp
.pnp.js

# Logs
logs/
*.pid
*.seed
*.pid.lock

# Database
*.sqlite
*.db
prisma/*.db
prisma/*.sqlite

# ============================================
# 📁 EDITORES / SISTEMAS
# ============================================
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# ============================================
# 📁 ONE DRIVE / WINDOWS
# ============================================
*.tmp
~$*
desktop.ini

# ============================================
# 📁 GIT / DEPLOY
# ============================================
.vercel/
.netlify/
